 @model List<BasketItemVM>
@{
    decimal total = 0;
}

<div class="row">
    <div class="col-xl-8">
        <div class="shopping-cart mt-25">
            <h4 class="allup-title">Shopping Cart</h4>

            @foreach (BasketItemVM itemVM in Model)
            {
                total += itemVM.SubTotal; 
                <div class="shopping-cart-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                 <a asp-action="Delete" asp-route-id="@itemVM.Id">
                                <th class="image">Image</th>
                                <th class="product">Product</th>
                                <th class="price">Price</th>
                                <th class="quantity">Quantity</th>
                                <th class="total">Total</th>
                                <th class="delete">Delete</th>
                                </a>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="product-image">
                                        <a asp-controller="shop" asp-action="detail" asp-route-id="@itemVM.Id">
                                            <img src="~/assets/images/@itemVM.Image" alt="cart">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-title">
                                        <h4 class="title"><a asp-controller="shop" asp-action="detail" asp-route-id="@itemVM.Id">@itemVM.Name</a></h4>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-price">
                                        <span class="price">€@itemVM.Price</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-quantity">
                                        <div class="quantity mt-15 d-flex">
                                            <button type="button" class="sub"><i class="fal fa-minus"></i></button>
                                            <input type="text" value="1" />
                                            <button type="button" class="add"><i class="fal fa-plus"></i></button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-total">
                                        <span class="total-amount">€@total</span> 
                                    </div>
                                </td>
                                <td>
                                    <div class="product-delete">
                                        <a href="#"><i class="fal fa-trash-alt"></i></a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            }  <div class="cart-btn text-right">
                <a class="main-btn" href="#">Update cart</a>
            </div>
            
        </div>
    </div>
    <div class="col-xl-4">
        <div class="row">
            <div class="col-xl-12 col-md-6">
               
            </div>
            <div class="col-xl-12 col-md-6">
                <div class="cart-total mt-30">
                   @foreach(BasketItemVM itemVM in Model)
                    {
                        <div class="sub-total">
                            <div class="single-total">
                                <span class="cart-value">Subtotal</span>
                                <span class="cart-amount">€@itemVM.SubTotal</span>
                            </div>
                            <div class="single-total">
                                <span class="cart-value">Shipping Cost</span>
                                <span class="cart-amount">€0</span>
                            </div>
                        </div>
                        <div class="total">
                            <div class="single-total">
                                <span class="cart-value">Total (tax excl.)</span>
                                <span class="cart-amount">€@total</span>
                            </div>
                            <div class="single-total">
                                <span class="cart-value">Taxes</span>
                                <span class="cart-amount">€0.00</span>
                            </div>
                        </div>
                    }
                    <div class="cart-total-btn text-right">
                        <a asp-action="index" asp-controller="basket" class="main-btn">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>